# ex02 - Requêter les informations d'une Table

Ce notebook va permettre d'interroger le nombre de tables et les colonnes d'une table présents dans une database (base de données) via une commande **SELECT**

In [8]:
%load_ext sql

# Découverte de Google Colaboratory


### Quelques astuces avant de débuter le notebook SQL

Rappel : Pour modifier une cellule : Double-cliquez (ou appuyez sur Entrée)

Pour connecter son espace Google Drive et donc ensuite pouvoir : 

**- récupérer un fichier** prélablement enregistré

**- sauvegarder un résultat**

**- rendre persistant un fichier** que nous ré-utiliserons plus tard dans un autre notebook

In [1]:
from google.colab import drive
# drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [2]:
# Pour récupérer dans votre notebook Google Colaboratory un fichier situé sur votre poste de travail :
# from google.colab import files
# files.upload()

***Attention, le contexte de travail d'un notebook n'est pas persistant : ***

si vous relancez ou redémarrez un environnement d'exécution, les données de la dernière fois ne seront plus présentes, d'où l'intérêt de travailler sur un espace Google Drive si besoin de conserver des fichiers de façon permanente.

Pour se placer dans le répertoire de travail "Partage/Notebooks_Serie_1" dans mon Drive Google :

(c'est-à-dire en réalité, vu de mon notebook, dans :
/content/gdrive/MyDrive/Partage/Notebooks_Serie_1/)

In [3]:
# Pour se placer dans le répertoire de travail /content/gdrive/MyDrive/Partage/Notebooks-SQL-serie-1-main/  :
%cd /content/gdrive/MyDrive/Partage/Notebooks-SQL-serie-1-main/

/content/gdrive/MyDrive/Partage/Notebooks-SQL-serie-1-main



Pour afficher le contenu du répertoire courant dans notre notebook :

In [4]:
%ls

'Annexes URL'/
 data/
 ex00_Introduction.ipynb
 ex01_Premières_requêtes_sur_une_database_vide.ipynb
 ex02_Requêter_les_informations_d_une_table.ipynb
 ex03_Récupération_de_données_avec_SELECT.ipynb
 ex04_Limiter_le_nombre_de_lignes_renvoyées_par_une_requête_SELECT.ipynb
 ex05_Filtrage_d_une_requête_avec_WHERE.ipynb
 ex06_Faire_des_opérations_mathématiques_sur_les_colonnes_d_une_table.ipynb
 ex07_Agrégation_des_données_avec_GROUP_BY_et_ORDER_BY.ipynb
 ex08_Jointure_entre_Tables.ipynb
 ex09_Techniques_avancées_de_requête_avec_utilisation_de_CASE_et_de_sous_requête.ipynb
 ex10_Utilisation_des_vues_pour_simplifier_les_requêtes.ipynb
 ex11_Gérer_des_valeurs_NULL.ipynb
 ex12_Bonus_interactions_avec_Panda.ipynb
 ex13_Utilisation_de_SQLite_comme_base_de_données_Time_Series.ipynb
 README.md
's01-Transaction (Begin, Commit, Rollback).ipynb'
's02-Accessing a SQLite Database with Pandas.ipynb'


Remarque : Pour supprimer un fichier si besoin :

%rm **chemin_et_nom_du_fichier_à_supprimer**

In [ ]:
# Si besoin de supprimer les fichiers "livre*" déjà présents dans le répertoire de travail /content/gdrive/MyDrive/Partage 
# %rm /content/gdrive/MyDrive/Partage/livre*.*

In [ ]:
# Pour télécharger, sur votre poste de travail, le fichier /content/gdrive/MyDrive/Partage/livres_db créé dans le notebook :

# from google.colab import files
# files.download('/content/gdrive/MyDrive/Partage/livres_db')

Pour modifier le répertoire courant utilisé dans votre notebook Google Colaboratory :

In [5]:
%cd /content/

/content

Pour afficher l'arborescence du répertoire courant utilisé dans votre notebook Google Colaboratory :

In [6]:
%pwd

'/content'

### Connexion à la Database fournie pour le TP : demo.db3

In [9]:
%sql sqlite:////content/gdrive/MyDrive/Partage/Notebooks-SQL-serie-1-main/data/demo.db3

'Connected: @/content/gdrive/MyDrive/Partage/Notebooks-SQL-serie-1-main/data/demo.db3'

### Lister les tables contenues dans une database (base de données)

Les noms de table et d'index peuvent être listés en faisant un **SELECT** sur une table spéciale nommée "***SQLITE_MASTER***". 

Chaque base de données SQLite possède une table SQLITE_MASTER qui définit le schéma de la base de données. 

Pour les tables, le champ ***type*** sera toujours '***table***' et le champ '***nom***' sera le nom de la table. 

Donc, pour obtenir une liste de toutes les tables de la base de données, utilisez la commande SELECT suivante:

En savoir plus sur https://www.sqlite.org/faq.html#q7.

In [10]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks-SQL-serie-1-main/data/demo.db3
Done.

[('rch',),
 ('hru',),
 ('sub',),
 ('sed',),
 ('watershed_daily',),
 ('watershed_monthly',),
 ('watershed_yearly',),
 ('channel_dimension',),
 ('hru_info',),
 ('sub_info',),
 ('rch_info',),
 ('ave_plant',),
 ('ave_annual_hru',),
 ('ave_monthly_basin',),
 ('ave_annual_basin',),
 ('sqlite_sequence',),
 ('watershed_yearly_bk',),
 ('Temperature',)]

### Lister les colonnes d'une table donnée :

Nous prenons ici l'exemple de la table "***rch***"

In [ ]:
%sql select * from rch where 1=0

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[]

Une requête comme celle-ci peut être vue comme une sorte de requête ping à la base de données. 

La clause: ***where 1 = 0*** permet qu'aucune donnée ne soit renvoyée en retour (donc sans aucune charge de processeur, aucun trafic réseau ou autre consommation de ressources)

Une requête comme celle-ci peut :
- Tester la disponibilité du serveur
- Vérifier l'existence de la table requêtée
- Vérifier l'existence de la ou des colonne(s) requêtées
- Garder une connexion vivante
- Provoquer le déclenchement d'un (trigger) déclencheur 
- Gérer de nombreuses conditions OR dans les requêtes dynamiques (par exemple WHERE 1 = 0 OR <condition>)

#### Recherche des informations de la table en utilisant simplement SELECT * mais cette fois avec le mot clé ***LIMIT***

Changez le nombre dans LIMIT à 1, 2 pour vérifier les résultats.

In [ ]:
# %sql select * from rch LIMIT 0
# %sql select * from rch LIMIT 1
%sql select * from rch LIMIT 2

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(1, 1981, 1, 146.34376525878906, 146.2524871826172, 0.09128088504076004, 0.0, 2.3320461650655488e-07, 61619.46484375, 155.3719024658203, 0.016086287796497345, 0.0, 0.04825887829065323, 0.0, 362.0486755371094, 361.8135070800781, 203.620849609375, 421.18377685546875, 0.0, 23.0184326171875, 0.016107244417071342, 0.0, 1.1839052307949238e-11, 0.0, 0.0, 0.0, 5627225.0, 5623486.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 806.0157470703125, 0.0, 0.0, 0.0),
 (2, 1981, 1, 96.22569274902344, 96.18285369873047, 0.042821284383535385, 0.0, 1.6426764659627224e-07, 0.0, 0.0, 0.01363153662532568, 0.0, 0.04089462012052536, 0.0, 315.60052490234375, 315.4579772949219, 0.0, 127.00502014160156, 0.0, 0.0, 0.013656049966812134, 0.0, 4.136972177163251e-16, 0.0, 0.0, 0.0, 3757606.5, 3698301.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 442.4630126953125, 0.0, 0.0, 0.0)]

#### Ou faisons carrément un select *

***Attention***! Cette table contient trop d'enregistrements. Donc il vaut mieux ne pas les sélectionner tous....

In [ ]:
## %sql select * from rch
%sql select * from rch LIMIT 100