<a href="https://colab.research.google.com/github/crystalloide/Notebooks-SQL-serie-1/blob/main/ex05_Filtrage_d'une_requ%C3%AAte_avec_WHERE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ex05 - Filtrage d'une requête avec WHERE

Parfois, vous souhaiterez vérifier uniquement les lignes renvoyées par une requête, mais seulement quand une ou plusieurs colonnes répondent à certains critères. 

Cela peut être fait avec une instruction WHERE. 

La clause WHERE est une clause facultative de l'instruction SELECT. 

Elle apparaît après la clause FROM comme dans l'instruction suivante :

***SELECT column_list FROM table_name WHERE search_condition;***

In [1]:
%load_ext sql

In [2]:
from google.colab import drive
# drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

### 1. Connexion à la Database fournie pour le TP : demo.db3

In [3]:
%sql sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3

'Connected: @/content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3'

Si vous ne vous souvenez pas des tables dans la database, rappelez -vous que vous pouvez utiliser la commande suivante pour retrouver ces informations.

### Lister les tables contenues dans la database fournie

Les noms de table et d'index peuvent être listés en faisant un **SELECT** sur une table spéciale nommée "***SQLITE_MASTER***". 

Chaque base de données SQLite possède une table SQLITE_MASTER qui définit le schéma de la base de données. 

Pour les tables, le champ ***type*** sera toujours '***table***' et le champ '***nom***' sera le nom de la table. 

Donc, pour obtenir une liste de toutes les tables de la base de données, utilisez la commande SELECT suivante:

En savoir plus sur https://www.sqlite.org/faq.html#q7.

In [4]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[('rch',),
 ('hru',),
 ('sub',),
 ('sed',),
 ('watershed_daily',),
 ('watershed_monthly',),
 ('watershed_yearly',),
 ('channel_dimension',),
 ('hru_info',),
 ('sub_info',),
 ('rch_info',),
 ('ave_plant',),
 ('ave_annual_hru',),
 ('ave_monthly_basin',),
 ('ave_annual_basin',),
 ('sqlite_sequence',),
 ('watershed_yearly_bk',),
 ('Temperature',)]

### 2. Récupération des données avec WHERE

Prenons ici en exemple la table ***rch***

#### 2.1 Et allons vérifier tout d'abord les colonnes qui composent cette table.

In [5]:
%sql SELECT * From rch LIMIT 5

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(1, 1981, 1, 146.34376525878906, 146.2524871826172, 0.09128088504076004, 0.0, 2.3320461650655488e-07, 61619.46484375, 155.3719024658203, 0.016086287796497345, 0.0, 0.04825887829065323, 0.0, 362.0486755371094, 361.8135070800781, 203.620849609375, 421.18377685546875, 0.0, 23.0184326171875, 0.016107244417071342, 0.0, 1.1839052307949238e-11, 0.0, 0.0, 0.0, 5627225.0, 5623486.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 806.0157470703125, 0.0, 0.0, 0.0),
 (2, 1981, 1, 96.22569274902344, 96.18285369873047, 0.042821284383535385, 0.0, 1.6426764659627224e-07, 0.0, 0.0, 0.01363153662532568, 0.0, 0.04089462012052536, 0.0, 315.60052490234375, 315.4579772949219, 0.0, 127.00502014160156, 0.0, 0.0, 0.013656049966812134, 0.0, 4.136972177163251e-16, 0.0, 0.0, 0.0, 3757606.5, 3698301.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 442.4630126953125, 0.0, 0.0, 0.0),
 (3, 1981, 1, 11.952718734741211, 11.861368179321289, 0.09135182946920395, 0.0, 2.0325823868461157e-07, 2.0325823868461157e-07, 6.595060941805286e-09, 0.01146628800779581, 0.0, 0.03439886122941971, 0.009118038229644299, 48.2963752746582, 47.93150329589844, 0.0, 62.467620849609375, 0.0, 0.0, 0.011485105380415916, 0.0, 5.941028783295818e-14, 0.0, 0.0, 0.0, 360979.90625, 456115.90625, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 110.39912414550781, 0.009118038229644299, 0.0, 0.0),
 (4, 1981, 1, 49.48649215698242, 49.40651321411133, 0.07998340576887131, 0.0, 3.913226720442253e-08, 0.0, 0.0, 0.00722243869677186, 0.0, 0.021667316555976868, 0.0, 46.54270553588867, 46.46895217895508, 0.0, 76.61585235595703, 0.0, 0.0, 0.0072422930970788, 0.0, 1.1632789449796794e-15, 0.0, 0.0, 0.0, 1160040.75, 1899717.625, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 123.08480834960938, 0.0, 0.0, 0.0),
 (5, 1981, 1, 274.0668029785156, 272.10601806640625, 1.9608064889907837, 0.0, 2257869.75, 116675.171875, 157.49276733398438, 1408498.0, 1259125.625, 501261.6875, 416320.25, 46281.1640625, 44271.08984375, 483.65142822265625, 1362.450439453125, 23.0184326171875, 66.76303100585938, 1289.9833984375, 3866.024169921875, 26296.953125, 0.0, 54013716.0, 21046212.0, 9425129.0, 9136200.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1304826.0, 420186.28125, 0.0, 0.0)]

#### 2.2 Vérifions le nombre de lignes de la table

Il devrait y avoir 8280 lignes. 

Cela peut être vérifié la fonction dénommée ***COUNT***. 

Nous aborderons d'autres fonctions de SQLite dans les prochains notebooks.

In [6]:
%sql SELECT COUNT(*) as nrow From rch

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(8280,)]

#### 2.3 Utilisons la clause ***WHERE*** pour filter les données à récupérer

Disons que nous ne nous intéressons qu'aux enregistrements de l'année 1981, via le champ ***YR***. 

L'utilisation d'un WHERE est assez simple dans un cas comme celui-ci.

In [7]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR=1981

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(1, 1981, 1, 146.34376525878906, 146.2524871826172),
 (2, 1981, 1, 96.22569274902344, 96.18285369873047),
 (3, 1981, 1, 11.952718734741211, 11.861368179321289),
 (4, 1981, 1, 49.48649215698242, 49.40651321411133),
 (5, 1981, 1, 274.0668029785156, 272.10601806640625),
 (6, 1981, 1, 486.71063232421875, 486.3185729980469),
 (7, 1981, 1, 23.57549476623535, 23.289026260375977),
 (8, 1981, 1, 215.61805725097656, 214.28143310546875),
 (9, 1981, 1, 193.72772216796875, 193.4912109375),
 (10, 1981, 1, 53.9464225769043, 53.8569450378418),
 (11, 1981, 1, 169.81475830078125, 169.1501922607422),
 (12, 1981, 1, 92.62444305419922, 92.46011352539062),
 (13, 1981, 1, 26.333988189697266, 26.210729598999023),
 (14, 1981, 1, 14.963179588317871, 14.953019142150879),
 (15, 1981, 1, 20.569297790527344, 19.898130416870117),
 (16, 1981, 1, 31.927724838256836, 31.78667640686035),
 (17, 1981, 1, 1.9374274015426636, 1.9351587295532227),
 (18, 1981, 1, 9.377657890319824, 9.312582015991211),
 (19, 1981, 1, 5.654135704040527, 5.640942573547363),
 (20, 1981, 1, 24.297531127929688, 24.232725143432617),
 (21, 1981, 1, 4.316850185394287, 4.30960750579834),
 (22, 1981, 1, 11.249781608581543, 10.796460151672363),
 (23, 1981, 1, 4.4461669921875, 4.4037604331970215),
 (1, 1981, 2, 84.85591888427734, 84.78033447265625),
 (2, 1981, 2, 56.372833251953125, 56.313358306884766),
 (3, 1981, 2, 6.145504951477051, 6.047662734985352),
 (4, 1981, 2, 28.14598846435547, 28.03248405456543),
 (5, 1981, 2, 469.5555419921875, 466.4051513671875),
 (6, 1981, 2, 848.658935546875, 847.9338989257812),
 (7, 1981, 2, 127.24232482910156, 126.8682632446289),
 (8, 1981, 2, 381.5965270996094, 379.1250305175781),
 (9, 1981, 2, 226.3321075439453, 225.98611450195312),
 (10, 1981, 2, 29.24818229675293, 29.110872268676758),
 (11, 1981, 2, 83.99790954589844, 83.50083923339844),
 (12, 1981, 2, 43.84885787963867, 43.62006759643555),
 (13, 1981, 2, 15.831439971923828, 15.73555850982666),
 (14, 1981, 2, 8.46049690246582, 8.452710151672363),
 (15, 1981, 2, 129.9334259033203, 128.8990020751953),
 (16, 1981, 2, 11.670403480529785, 11.452507019042969),
 (17, 1981, 2, 1.1498831510543823, 1.1437357664108276),
 (18, 1981, 2, 5.573782920837402, 5.494256019592285),
 (19, 1981, 2, 2.970590114593506, 2.957815408706665),
 (20, 1981, 2, 7.203157424926758, 7.103916645050049),
 (21, 1981, 2, 2.590414047241211, 2.581570863723755),
 (22, 1981, 2, 7.2724690437316895, 6.881773948669434),
 (23, 1981, 2, 2.66581130027771, 2.6104588508605957),
 (1, 1981, 3, 76.39450073242188, 76.10173797607422),
 (2, 1981, 3, 31.04990005493164, 31.003488540649414),
 (3, 1981, 3, 4.259443759918213, 4.0917744636535645),
 (4, 1981, 3, 13.874382972717285, 13.706125259399414),
 (5, 1981, 3, 709.7574462890625, 706.848388671875),
 (6, 1981, 3, 1314.4405517578125, 1313.2958984375),
 (7, 1981, 3, 253.1029815673828, 252.57357788085938),
 (8, 1981, 3, 602.877685546875, 598.978515625),
 (9, 1981, 3, 320.0663757324219, 319.55841064453125),
 (10, 1981, 3, 8.964656829833984, 8.776240348815918),
 (11, 1981, 3, 43.89173126220703, 43.253204345703125),
 (12, 1981, 3, 16.248170852661133, 15.957819938659668),
 (13, 1981, 3, 11.98611068725586, 11.75150203704834),
 (14, 1981, 3, 4.682745456695557, 4.663994789123535),
 (15, 1981, 3, 216.40835571289062, 215.00881958007812),
 (16, 1981, 3, 5.827881813049316, 5.563807964324951),
 (17, 1981, 3, 0.5862327218055725, 0.5696054697036743),
 (18, 1981, 3, 3.1181764602661133, 3.0503299236297607),
 (19, 1981, 3, 1.6415528059005737, 1.6277210712432861),
 (20, 1981, 3, 3.441338062286377, 3.2766103744506836),
 (21, 1981, 3, 1.4438132047653198, 1.4362835884094238),
 (22, 1981, 3, 7.944364070892334, 7.033697605133057),
 (23, 1981, 3, 1.4858719110488892, 1.4109132289886475),
 (1, 1981, 4, 113.28621673583984, 112.3453369140625),
 (2, 1981, 4, 10.982606887817383, 10.890130996704102),
 (3, 1981, 4, 33.0489387512207, 32.84563064575195),
 (4, 1981, 4, 4.7736496925354, 4.459959030151367),
 (5, 1981, 4, 888.4221801757812, 882.7030029296875),
 (6, 1981, 4, 1953.3924560546875, 1952.2164306640625),
 (7, 1981, 4, 322.49725341796875, 321.7943420410156),
 (8, 1981, 4, 1063.93408203125, 1059.9271240234375),
 (9, 1981, 4, 705.5858764648438, 705.0225830078125),
 (10, 1981, 4, 14.47266674041748, 14.112871170043945),
 (11, 1981, 4, 353.94696044921875, 352.9947509765625),
 (12, 1981, 4, 25.661710739135742, 24.76134490966797),
 (13, 1981, 4, 246.52560424804688, 246.1806640625),
 (14, 1981, 4, 31.783952713012695, 31.756671905517578),
 (15, 1981, 4, 266.3102111816406, 264.7311096191406),
 (16, 1981, 4, 8.946057319641113, 8.076467514038086),
 (17, 1981, 4, 0.3183255195617676, 0.28104352951049805),
 (18, 1981, 4, 1.3510197401046753, 0.9878991842269897),
 (19, 1981, 4, 29.641956329345703, 29.5858097076416),
 (20, 1981, 4, 1.6486221551895142, 1.4588907957077026),
 (21, 1981, 4, 0.9075742363929749, 0.8672612309455872),
 (22, 1981, 4, 162.1475067138672, 160.70191955566406),
 (23, 1981, 4, 1.1651333570480347, 0.9744809865951538),
 (1, 1981, 5, 100.62001037597656, 97.28329467773438),
 (2, 1981, 5, 8.11182689666748, 8.040688514709473),
 (3, 1981, 5, 871.1177368164062, 870.2960205078125),
 (4, 1981, 5, 11.68616771697998, 11.30402660369873),
 (5, 1981, 5, 1665.54931640625, 1652.77099609375),
 (6, 1981, 5, 8009.71044921875, 8006.85400390625),
 (7, 1981, 5, 259.010009765625, 257.6568298339844),
 (8, 1981, 5, 6357.578125, 6347.859375),
 (9, 1981, 5, 6059.88818359375, 6058.6083984375),
 (10, 1981, 5, 283.8179626464844, 283.138671875),
 (11, 1981, 5, 5789.78857421875, 5779.33251953125),
 (12, 1981, 5, 1181.4305419921875, 1180.0986328125),
 (13, 1981, 5, 1112.368896484375, 1111.7200927734375),
 (14, 1981, 5, 380.40228271484375, 380.35504150390625),
 (15, 1981, 5, 222.10504150390625, 218.8110809326172),
 (16, 1981, 5, 705.462158203125, 703.9224853515625),
 (17, 1981, 5, 112.31466674804688, 112.0840835571289),
 (18, 1981, 5, 352.7895202636719, 351.6276550292969),
 (19, 1981, 5, 27.58653450012207, 27.530590057373047),
 (20, 1981, 5, 251.1407470703125, 250.66552734375),
 (21, 1981, 5, 181.30287170410156, 181.17335510253906),
 (22, 1981, 5, 672.0623168945312, 670.9138793945312),
 (23, 1981, 5, 196.24691772460938, 195.82498168945312),
 (1, 1981, 6, 262.6936340332031, 258.3166198730469),
 (2, 1981, 6, 69.1297378540039, 69.00059509277344),
 (3, 1981, 6, 440.3125915527344, 438.84381103515625),
 (4, 1981, 6, 135.95555114746094, 135.4774627685547),
 (5, 1981, 6, 1231.2115478515625, 1211.47802734375),
 (6, 1981, 6, 4850.9365234375, 4847.083984375),
 (7, 1981, 6, 173.67694091796875, 171.77842712402344),
 (8, 1981, 6, 3646.698486328125, 3633.58837890625),
 (9, 1981, 6, 3447.75244140625, 3445.91455078125),
 (10, 1981, 6, 295.1305847167969, 294.55035400390625),
 (11, 1981, 6, 3284.65380859375, 3261.925048828125),
 (12, 1981, 6, 981.0571899414062, 979.6323852539062),
 (13, 1981, 6, 843.3867797851562, 842.5662231445312),
 (14, 1981, 6, 328.0318298339844, 327.9722595214844),
 (15, 1981, 6, 151.17367553710938, 146.48959350585938),
 (16, 1981, 6, 506.21014404296875, 504.1758117675781),
 (17, 1981, 6, 62.00202941894531, 61.80619430541992),
 (18, 1981, 6, 288.2204284667969, 286.9231872558594),
 (19, 1981, 6, 40.15439987182617, 40.110069274902344),
 (20, 1981, 6, 260.2379150390625, 259.8540954589844),
 (21, 1981, 6, 134.33847045898438, 134.1928253173828),
 (22, 1981, 6, 465.6315612792969, 463.37921142578125),
 (23, 1981, 6, 142.71295166015625, 142.2458038330078),
 (1, 1981, 7, 3227.131103515625, 3221.74072265625),
 (2, 1981, 7, 1406.1968994140625, 1405.607666015625),
 (3, 1981, 7, 348.38592529296875, 346.4898681640625),
 (4, 1981, 7, 1793.2086181640625, 1792.4322509765625),
 (5, 1981, 7, 3911.891845703125, 3892.291259765625),
 (6, 1981, 7, 7727.927734375, 7723.72216796875),
 (7, 1981, 7, 103.77598571777344, 101.71813201904297),
 (8, 1981, 7, 3846.445068359375, 3832.15966796875),
 (9, 1981, 7, 3743.966064453125, 3742.0390625),
 (10, 1981, 7, 914.5076904296875, 913.3176879882812),
 (11, 1981, 7, 3664.947265625, 3633.758056640625),
 (12, 1981, 7, 1543.2772216796875, 1539.4879150390625),
 (13, 1981, 7, 963.8184814453125, 962.1199951171875),
 (14, 1981, 7, 572.2147827148438, 572.0892333984375),
 (15, 1981, 7, 76.39987182617188, 71.29752349853516),
 (16, 1981, 7, 471.6324157714844, 467.8399963378906),
 (17, 1981, 7, 46.45765686035156, 46.12605667114258),
 (18, 1981, 7, 234.2579803466797, 231.6295623779297),
 (19, 1981, 7, 340.1886901855469, 339.892578125),
 (20, 1981, 7, 266.3910217285156, 265.83343505859375),
 (21, 1981, 7, 111.28022766113281, 110.98563385009766),
 (22, 1981, 7, 359.2114562988281, 354.9750061035156),
 (23, 1981, 7, 114.01341247558594, 113.25325775146484),
 (1, 1981, 8, 1313.5548095703125, 1308.919677734375),
 (2, 1981, 8, 831.6567993164062, 830.8473510742188),
 (3, 1981, 8, 223.1786346435547, 221.5281982421875),
 (4, 1981, 8, 481.6354675292969, 480.853515625),
 (5, 1981, 8, 1730.936279296875, 1713.8548583984375),
 (6, 1981, 8, 3883.90576171875, 3880.37548828125),
 (7, 1981, 8, 19.037914276123047, 17.079687118530273),
 (8, 1981, 8, 2181.504638671875, 2169.496826171875),
 (9, 1981, 8, 2173.205078125, 2171.444091796875),
 (10, 1981, 8, 484.74664306640625, 483.5436706542969),
 (11, 1981, 8, 2180.650146484375, 2153.10107421875),
 (12, 1981, 8, 915.4993896484375, 912.75732421875),
 (13, 1981, 8, 526.1477661132812, 525.0769653320312),
 (14, 1981, 8, 281.4003601074219, 281.322509765625),
 (15, 1981, 8, 7.9391655921936035, 3.251664161682129),
 (16, 1981, 8, 316.2207336425781, 313.2410583496094),
 (17, 1981, 8, 28.74099349975586, 28.461780548095703),
 (18, 1981, 8, 149.41946411132812, 147.24989318847656),
 (19, 1981, 8, 134.0355987548828, 133.73037719726562),
 (20, 1981, 8, 185.15713500976562, 184.92955017089844),
 (21, 1981, 8, 71.20135498046875, 70.95768737792969),
 (22, 1981, 8, 225.5265350341797, 222.42129516601562),
 (23, 1981, 8, 72.13587951660156, 71.50173950195312),
 (1, 1981, 9, 1124.6080322265625, 1120.9515380859375),
 (2, 1981, 9, 725.4627685546875, 724.8314208984375),
 (3, 1981, 9, 130.81338500976562, 129.493408203125),
 (4, 1981, 9, 399.0051574707031, 398.3822937011719),
 (5, 1981, 9, 1336.862060546875, 1322.876953125),
 (6, 1981, 9, 2703.627197265625, 2700.8212890625),
 (7, 1981, 9, 5.521786212921143, 3.9414021968841553),
 (8, 1981, 9, 1390.1297607421875, 1380.586181640625),
 (9, 1981, 9, 1389.17919921875, 1387.77734375),
 (10, 1981, 9, 395.6681823730469, 395.08782958984375),
 (11, 1981, 9, 1406.952392578125, 1384.635009765625),
 (12, 1981, 9, 646.4761962890625, 644.0316772460938),
 (13, 1981, 9, 328.9361572265625, 327.8607482910156),
 (14, 1981, 9, 186.7610321044922, 186.6810760498047),
 (15, 1981, 9, 4.1748504638671875, 0.5297763347625732),
 (16, 1981, 9, 179.72634887695312, 177.12977600097656),
 (17, 1981, 9, 7.198458671569824, 7.0018815994262695),
 (18, 1981, 9, 87.61351776123047, 85.93462371826172),
 (19, 1981, 9, 100.64956665039062, 100.58440399169922),
 (20, 1981, 9, 112.39119720458984, 111.9441146850586),
 (21, 1981, 9, 41.77436065673828, 41.58638381958008),
 (22, 1981, 9, 131.20797729492188, 129.3788604736328),
 (23, 1981, 9, 42.17023468017578, 41.6853141784668),
 (1, 1981, 10, 754.7601928710938, 753.4493408203125),
 (2, 1981, 10, 497.29791259765625, 497.26019287109375),
 (3, 1981, 10, 81.56842803955078, 81.17040252685547),
 (4, 1981, 10, 255.2347869873047, 255.06654357910156),
 (5, 1981, 10, 862.9088745117188, 855.0828247070312),
 (6, 1981, 10, 1715.89404296875, 1714.4075927734375),
 (7, 1981, 10, 4.325099468231201, 3.6036462783813477),
 (8, 1981, 10, 865.7444458007812, 860.6851196289062),
 (9, 1981, 10, 863.42431640625, 862.7537841796875),
 (10, 1981, 10, 283.00836181640625, 282.70489501953125),
 (11, 1981, 10, 864.735107421875, 859.3717041015625),
 (12, 1981, 10, 426.67254638671875, 426.1946716308594),
 (13, 1981, 10, 176.9633331298828, 176.5959014892578),
 (14, 1981, 10, 106.03862762451172, 106.01016235351562),
 (15, 1981, 10, 3.528832197189331, 1.7222462892532349),
 (16, 1981, 10, 101.48471069335938, 100.96350860595703),
 (17, 1981, 10, 3.643705368041992, 3.581543207168579),
 (18, 1981, 10, 43.476104736328125, 43.17469787597656),
 (19, 1981, 10, 62.805599212646484, 62.75946807861328),
 (20, 1981, 10, 64.46240997314453, 64.25182342529297),
 (21, 1981, 10, 20.386476516723633, 20.353069305419922),
 (22, 1981, 10, 66.02291870117188, 65.05998992919922),
 (23, 1981, 10, 20.023418426513672, 19.887006759643555),
 (1, 1981, 11, 455.7989807128906, 454.80657958984375),
 (2, 1981, 11, 301.04302978515625, 300.9889831542969),
 (3, 1981, 11, 43.55038070678711, 43.2350959777832),
 (4, 1981, 11, 154.0652313232422, 153.93655395507812),
 (5, 1981, 11, 515.9913330078125, 508.7119445800781),
 (6, 1981, 11, 967.751953125, 966.5123901367188),
 (7, 1981, 11, 4.036836624145508, 3.354184865951538),
 (8, 1981, 11, 463.1518249511719, 458.9301452636719),
 (9, 1981, 11, 460.8150634765625, 460.2038269042969),
 (10, 1981, 11, 180.46812438964844, 180.268310546875),
 (11, 1981, 11, 461.6806945800781, 457.14886474609375),
 (12, 1981, 11, 253.93084716796875, 253.54547119140625),
 (13, 1981, 11, 71.3385238647461, 71.11405181884766),
 (14, 1981, 11, 49.307861328125, 49.28943634033203),
 (15, 1981, 11, 3.6917033195495605, 2.069857358932495),
 (16, 1981, 11, 50.113746643066406, 49.75544357299805),
 (17, 1981, 11, 2.447206735610962, 2.429715394973755),
 (18, 1981, 11, 13.137421607971191, 12.944046020507812),
 (19, 1981, 11, 36.361244201660156, 36.33055877685547),
 (20, 1981, 11, 36.04379653930664, 35.86702346801758),
 (21, 1981, 11, 6.2915520668029785, 6.270081996917725),
 (22, 1981, 11, 20.997007369995117, 20.231201171875),
 (23, 1981, 11, 6.265110492706299, 6.179070949554443),
 (1, 1981, 12, 261.2417297363281, 261.1206359863281),
 (2, 1981, 12, 172.4866485595703, 172.44989013671875),
 (3, 1981, 12, 19.75959014892578, 19.66830825805664),
 (4, 1981, 12, 88.28974914550781, 88.2150650024414),
 (5, 1981, 12, 310.2230529785156, 305.4032287597656),
 (6, 1981, 12, 575.5040893554688, 574.7108154296875),
 (7, 1981, 12, 5.739493370056152, 5.2621002197265625),
 (8, 1981, 12, 272.6112060546875, 269.9090270996094),
 (9, 1981, 12, 268.8525695800781, 268.44073486328125),
 (10, 1981, 12, 105.92308807373047, 105.82415771484375),
 (11, 1981, 12, 263.5941467285156, 262.9732360839844),
 (12, 1981, 12, 134.2644500732422, 134.1115264892578),
 (13, 1981, 12, 40.112457275390625, 39.98011779785156),
 (14, 1981, 12, 28.09064292907715, 28.07967185974121),
 (15, 1981, 12, 4.382839679718018, 3.29067325592041),
 (16, 1981, 12, 18.314638137817383, 18.181163787841797),
 (17, 1981, 12, 1.4957925081253052, 1.4898592233657837),
 (18, 1981, 12, 7.753018379211426, 7.687811374664307),
 (19, 1981, 12, 20.395456314086914, 20.383081436157227),
 (20, 1981, 12, 11.454695701599121, 11.34115219116211),
 (21, 1981, 12, 3.706450939178467, 3.699186086654663),
 (22, 1981, 12, 11.384257316589355, 10.962510108947754),
 (23, 1981, 12, 3.687631845474243, 3.6421847343444824)]

#### 2.4 Utilisons maintenant la clause ***AND*** pour filtrer un peu plus les données :


Il y a 23 lignes retournées dans notre requête précédente sur la table RCH. 

Mais disons que nous ne sommes finalement intéressés que les lignes pour lesquelles le champ (colonne) RCH est égal à 10. 

Nous pouvons ajouter une autre condition de filtre avec une instruction ***AND***.

In [8]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR=1981 AND RCH=10

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(10, 1981, 1, 53.9464225769043, 53.8569450378418),
 (10, 1981, 2, 29.24818229675293, 29.110872268676758),
 (10, 1981, 3, 8.964656829833984, 8.776240348815918),
 (10, 1981, 4, 14.47266674041748, 14.112871170043945),
 (10, 1981, 5, 283.8179626464844, 283.138671875),
 (10, 1981, 6, 295.1305847167969, 294.55035400390625),
 (10, 1981, 7, 914.5076904296875, 913.3176879882812),
 (10, 1981, 8, 484.74664306640625, 483.5436706542969),
 (10, 1981, 9, 395.6681823730469, 395.08782958984375),
 (10, 1981, 10, 283.00836181640625, 282.70489501953125),
 (10, 1981, 11, 180.46812438964844, 180.268310546875),
 (10, 1981, 12, 105.92308807373047, 105.82415771484375)]

#### 2.5 Essayons encore plus de combinaison de filtres :

Nous pouvons également filtrer davantage les données avec les opérateurs *!=* ou **<> **

pour obtenir les données avec RCH = 10 et MO=6 mais pas celles concernant "1981".

In [9]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR<>1981 and RCH=10 and MO=6

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(10, 1982, 6, 302.1027526855469, 301.51776123046875),
 (10, 1983, 6, 365.0164489746094, 364.4071350097656),
 (10, 1984, 6, 449.14593505859375, 447.8120422363281),
 (10, 1985, 6, 758.1435546875, 756.645263671875),
 (10, 1986, 6, 870.4126586914062, 869.0577392578125),
 (10, 1987, 6, 1056.3834228515625, 1055.8485107421875),
 (10, 1988, 6, 1113.9349365234375, 1112.7064208984375),
 (10, 1989, 6, 987.1399536132812, 986.5767822265625),
 (10, 1990, 6, 545.1495361328125, 543.622314453125),
 (10, 1991, 6, 773.328369140625, 772.1046142578125),
 (10, 1992, 6, 1428.335205078125, 1427.2901611328125),
 (10, 1993, 6, 885.8368530273438, 884.7728271484375),
 (10, 1994, 6, 471.22509765625, 469.3407897949219),
 (10, 1995, 6, 804.1304931640625, 803.6923217773438),
 (10, 1996, 6, 204.2549285888672, 203.7519073486328),
 (10, 1997, 6, 956.5918579101562, 955.3634033203125),
 (10, 1998, 6, 644.8356323242188, 644.2622680664062),
 (10, 1999, 6, 627.244873046875, 626.6397705078125),
 (10, 2000, 6, 366.44378662109375, 364.9014587402344),
 (10, 2001, 6, 302.4004821777344, 301.08233642578125),
 (10, 2002, 6, 334.6274108886719, 333.0640869140625),
 (10, 2003, 6, 442.1368713378906, 440.74493408203125),
 (10, 2004, 6, 509.4557189941406, 508.1041259765625),
 (10, 2005, 6, 645.0547485351562, 643.6062622070312),
 (10, 2006, 6, 406.5262451171875, 405.03045654296875),
 (10, 2007, 6, 553.6290283203125, 552.2628173828125),
 (10, 2008, 6, 365.6402893066406, 364.3846130371094),
 (10, 2009, 6, 600.4702758789062, 599.0214233398438),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875)]

Nous pouvons filtrer davantage les données sur des mois spécifiques à l'aide de l'instruction ***OR***. 

Par exemple, nous aimerions vérifier les données pour les mois de 3, 6 et 9. 

Et nous pourrions utiliser ***()*** pour en faire une condition. 

C'est une astuce à essayer !

In [10]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and (MO=3 or MO=6 or MO=9 or MO=12)

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(10, 2010, 3, 3.4298956394195557, 3.0846056938171387),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875),
 (10, 2010, 9, 218.40797424316406, 218.24456787109375),
 (10, 2010, 12, 36.9558219909668, 36.877464294433594)]

Nous pouvons simplifier le filtre ci-dessus en utilisant cette fois l'instruction ***IN***

In [11]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and MO in (3, 6, 9, 12)

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(10, 2010, 3, 3.4298956394195557, 3.0846056938171387),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875),
 (10, 2010, 9, 218.40797424316406, 218.24456787109375),
 (10, 2010, 12, 36.9558219909668, 36.877464294433594)]

Ou pour les mois qui sont autres que 3, 6, 9, 12
c'est à dire : ***NOT IN (3, 6, 9, 12)***

In [12]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and MO NOT IN (3,6,9,12)

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(10, 2010, 1, 9.619468688964844, 9.422823905944824),
 (10, 2010, 2, 6.129702091217041, 5.864690780639648),
 (10, 2010, 4, 258.67010498046875, 258.1203918457031),
 (10, 2010, 5, 1513.6510009765625, 1512.5479736328125),
 (10, 2010, 7, 583.045654296875, 582.3214721679688),
 (10, 2010, 8, 371.0841369628906, 370.7648010253906),
 (10, 2010, 10, 123.48409271240234, 123.36622619628906),
 (10, 2010, 11, 68.6158676147461, 68.5250473022461)]

#### 2.6 Filtre à base d'opérateurs méthématiques

Par exemple, nous pourrions utiliser l'opérateur modulo (%) pour filtrer les mois MO.

In [13]:
%sql SELECT RCH, YR, MO, FLOW_INcms, FLOW_OUTcms From rch WHERE YR>2009 and RCH=10 and MO % 3 = 0

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(10, 2010, 3, 3.4298956394195557, 3.0846056938171387),
 (10, 2010, 6, 736.3016357421875, 734.9920654296875),
 (10, 2010, 9, 218.40797424316406, 218.24456787109375),
 (10, 2010, 12, 36.9558219909668, 36.877464294433594)]

### Conclusion du notebook 

Dans l'instruction WHERE, nous pouvons utiliser la combinaison de ***NOT, IN, <>, !=, >=, >, <, <=, AND, OR, ()*** 

et même certains des opérateurs mathématiques (***tels que %, *, /, +, -***) pour récupérer les données souhaitées