<a href="https://colab.research.google.com/github/crystalloide/Notebooks-SQL-serie-1/blob/main/ex09_Techniques_avanc%C3%A9es_de_requ%C3%AAte_avec_utilisation_de_CASE_et_de_sous_requ%C3%AAte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ex09-Techniques avancées de requête avec utilisation de CASE et de sous-requête

L'expression SQLite CASE évalue une liste de conditions et renvoie une expression basée sur le résultat de l'évaluation. 

L'expression CASE est similaire à l'instruction IF-THEN-ELSE dans d'autres langages de programmation. 

Vous pouvez utiliser l'instruction CASE dans n'importe quelle clause ou instruction qui accepte une expression valide. 

Par exemple, vous pouvez utiliser l'instruction CASE dans des clauses telles que WHERE, ORDER BY, HAVING, IN, SELECT et des instructions telles que SELECT, UPDATE et DELETE. 

Pour en savoir plus, consultez http://www.sqlitetutorial.net/sqlite-case/.

Une sous-requête, en termes simples, est une requête écrite dans le cadre d'une instruction plus grande. 

Considérez-la comme une instruction SELECT dans une autre. 
Le résultat du SELECT interne peut ensuite être utilisé dans la requête externe.

Dans ce notebook, nous combinons ces deux techniques d'interrogation pour calculer le ruissellement saisonnier à partir des données année-mois de la table ***rch***.

In [1]:
%load_ext sql

In [2]:
from google.colab import drive
# drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

### 1. Connection à la database demo.db3

In [3]:
%sql sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3

'Connected: @/content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3'

If you do not remember the tables in the demo data, you can always use the following command to query.

In [4]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[('rch',),
 ('hru',),
 ('sub',),
 ('sed',),
 ('watershed_daily',),
 ('watershed_monthly',),
 ('watershed_yearly',),
 ('channel_dimension',),
 ('hru_info',),
 ('sub_info',),
 ('rch_info',),
 ('ave_plant',),
 ('ave_annual_hru',),
 ('ave_monthly_basin',),
 ('ave_annual_basin',),
 ('sqlite_sequence',),
 ('watershed_yearly_bk',),
 ('Temperature',)]

### 2. Exploration de la table rch

Nous pouvons constater que la table rch contient des données de séries chronologiques avec l'année et le mois pour chaque tronçon de rivière. 

Par conséquent, il est logique de calculer des statistiques saisonnières.

In [5]:
%sql SELECT * From rch LIMIT 3

 * sqlite:////content/gdrive/MyDrive/Partage/Notebooks_Serie_1/demo.db3
Done.

[(1, 1981, 1, 146.34376525878906, 146.2524871826172, 0.09128088504076004, 0.0, 2.3320461650655488e-07, 61619.46484375, 155.3719024658203, 0.016086287796497345, 0.0, 0.04825887829065323, 0.0, 362.0486755371094, 361.8135070800781, 203.620849609375, 421.18377685546875, 0.0, 23.0184326171875, 0.016107244417071342, 0.0, 1.1839052307949238e-11, 0.0, 0.0, 0.0, 5627225.0, 5623486.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 806.0157470703125, 0.0, 0.0, 0.0),
 (2, 1981, 1, 96.22569274902344, 96.18285369873047, 0.042821284383535385, 0.0, 1.6426764659627224e-07, 0.0, 0.0, 0.01363153662532568, 0.0, 0.04089462012052536, 0.0, 315.60052490234375, 315.4579772949219, 0.0, 127.00502014160156, 0.0, 0.0, 0.013656049966812134, 0.0, 4.136972177163251e-16, 0.0, 0.0, 0.0, 3757606.5, 3698301.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 442.4630126953125, 0.0, 0.0, 0.0),
 (3, 1981, 1, 11.952718734741211, 11.861368179321289, 0.09135182946920395, 0.0, 2.0325823868461157e-07, 2.0325823868461157e-07, 6.595060941805286e-09, 0.01146628800779581, 0.0, 0.03439886122941971, 0.009118038229644299, 48.2963752746582, 47.93150329589844, 0.0, 62.467620849609375, 0.0, 0.0, 0.011485105380415916, 0.0, 5.941028783295818e-14, 0.0, 0.0, 0.0, 360979.90625, 456115.90625, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 110.39912414550781, 0.009118038229644299, 0.0, 0.0)]

### 3. Calcul du ruissellement saisonnier

Il y a deux étapes clés:
> (1) utiliser le CASE et la sous-requête pour convertir des mois en saisons dénommées; <br>
> (2) calculer la moyenne saisonnière avec des fonctions agrégées sur les groupes.

De plus, nous utilisons également un autre mot-clé de filtre ***BETWEEN*** pour regrouper et présenter les mois sous forme de saisons.

In [6]:
%%sql sqlite://
SELECT RCH, Quarter, AVG(FLOW_OUTcms) as Runoff
FROM(
SELECT RCH, YR, 
CASE 
    WHEN (MO) BETWEEN 3 AND 5 THEN 'MAM'   
    WHEN (MO) BETWEEN 6 and 8 THEN 'JJA'
    WHEN (MO) BETWEEN 9 and 11 THEN 'SON'
    ELSE 'DJF' 
END Quarter,
FLOW_OUTcms
from rch)
GROUP BY RCH, Quarter

Done.

[(1, 'DJF', 99.20499053531223),
 (1, 'JJA', 1405.262297990587),
 (1, 'MAM', 559.7469320191277),
 (1, 'SON', 454.73798531426326),
 (2, 'DJF', 56.328539085388186),
 (2, 'JJA', 773.6642798105876),
 (2, 'MAM', 203.2428277624978),
 (2, 'SON', 297.9343263414171),
 (3, 'DJF', 32.838328109847176),
 (3, 'JJA', 166.31038238737318),
 (3, 'MAM', 379.7713584979375),
 (3, 'SON', 27.425487552748788),
 (4, 'DJF', 28.384519391589695),
 (4, 'JJA', 619.1845169703166),
 (4, 'MAM', 278.99680089023377),
 (4, 'SON', 155.76614473130968),
 (5, 'DJF', 336.82444127400714),
 (5, 'JJA', 1635.5188635932075),
 (5, 'MAM', 1215.4239624023437),
 (5, 'SON', 499.26557888454863),
 (6, 'DJF', 779.8223269144694),
 (6, 'JJA', 4358.757006157769),
 (6, 'MAM', 4503.392232937283),
 (6, 'SON', 1149.2401511298285),
 (7, 'DJF', 97.28662162621816),
 (7, 'JJA', 25.732521690828435),
 (7, 'MAM', 143.93203030533567),
 (7, 'SON', 7.178008882701397),
 (8, 'DJF', 441.3295591990153),
 (8, 'JJA', 2725.9823296440973),
 (8, 'MAM', 3286.821099175347),
 (8, 'SON', 650.9485800001356),
 (9, 'DJF', 297.1482305102878),
 (9, 'JJA', 2707.413176812066),
 (9, 'MAM', 3106.779921129015),
 (9, 'SON', 643.7558722178142),
 (10, 'DJF', 25.98063668542438),
 (10, 'JJA', 505.32643780178495),
 (10, 'MAM', 250.11263827350405),
 (10, 'SON', 152.61127897898356),
 (11, 'DJF', 189.01615820990668),
 (11, 'JJA', 2681.094120279948),
 (11, 'MAM', 2951.6163011127046),
 (11, 'SON', 636.420092010498),
 (12, 'DJF', 48.53119047482809),
 (12, 'JJA', 1197.761353556315),
 (12, 'MAM', 806.1513772275713),
 (12, 'SON', 325.0917754279243),
 (13, 'DJF', 31.129065720240273),
 (13, 'JJA', 918.8479722764757),
 (13, 'MAM', 769.916959338718),
 (13, 'SON', 218.18268536461724),
 (14, 'DJF', 15.14187556107839),
 (14, 'JJA', 454.8036255730523),
 (14, 'MAM', 288.02804346614414),
 (14, 'SON', 115.84146893819174),
 (15, 'DJF', 122.269135497676),
 (15, 'JJA', 22.760410662551617),
 (15, 'MAM', 149.8637754691144),
 (15, 'SON', 9.698109303456214),
 (16, 'DJF', 17.394960821999444),
 (16, 'JJA', 534.455105166965),
 (16, 'MAM', 437.89174857470726),
 (16, 'SON', 133.0190536075168),
 (17, 'DJF', 1.9950405812925762),
 (17, 'JJA', 70.9285306930542),
 (17, 'MAM', 62.86757773409287),
 (17, 'SON', 15.028400821818245),
 (18, 'DJF', 9.236984935071733),
 (18, 'JJA', 285.82195493910046),
 (18, 'MAM', 167.6768460240629),
 (18, 'SON', 72.33852257728577),
 (19, 'DJF', 5.881783494684432),
 (19, 'JJA', 168.2385784573025),
 (19, 'MAM', 119.14785509374407),
 (19, 'SON', 43.36262100537618),
 (20, 'DJF', 9.980338920487299),
 (20, 'JJA', 287.66819517347545),
 (20, 'MAM', 229.23564295834964),
 (20, 'SON', 74.79388576613532),
 (21, 'DJF', 4.3587709003024635),
 (21, 'JJA', 136.12869220309787),
 (21, 'MAM', 85.76656741831037),
 (21, 'SON', 34.15108320977953),
 (22, 'DJF', 14.549762513902452),
 (22, 'JJA', 420.85744035508895),
 (22, 'MAM', 423.4592598636945),
 (22, 'SON', 94.08990630043877),
 (23, 'DJF', 4.326779018508064),
 (23, 'JJA', 141.99588652716741),
 (23, 'MAM', 90.83755980365807),
 (23, 'SON', 34.65474506219228)]

### Conclusion

Parfois, nous pouvons avoir besoin de construire des requêtes complexes qui vont au-delà d'une jointure de table ou d'une requête SELECT de base. 

Par exemple, nous pouvons avoir besoin d'écrire une requête qui utilise les résultats d'autres requêtes comme entrées (par exemple, SUBQUERY). 
Ou nous pouvons avoir besoin de regrouper des valeurs numériques en catégories avant de les compter (c'est-à-dire CASE).

Dans ce Notebook, nous avons exploré une collection de fonctions et d'options SQL essentielles pour résoudre des problèmes plus complexes. 

Nous savons désormais ajouter des sous-requêtes pour fournir un contrôle plus fin sur le filtrage ou le prétraitement des données avant de les analyser dans la requête principale.